@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@model IPagedList<Blog>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <h3 class="tittle">Arama Sonucu</h3><br />
    <div class="container">
        <div class="inner-sec">
            <div class="left-blog-info-w3layouts-agileits text-left">
                <div class="row">
                    @foreach (var blog in Model)
                    {
                        <div class="col-lg-4 card mb-4">
                            <a href="/Blog/Detail/@blog.BlogId">
                                <img src="@blog.Image" class="card-img-top img-fluid" style="height:170px;width:330px;" alt="resim bulunamadı">
                            </a>
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <li>
                                        <a>
                                            <i class="far fa-calendar-alt"></i> @blog.AddedDate.ToString("dd/MM/yyyy")
                                        </a>
                                    </li>
                                    @*<li>
                                        <a>
                                            <i class="far fa-comment"></i> @blog.Comments.Where(x=>x.Status == true).Count()
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fas fa-list"></i> @blog.Category.CategoryName
                                        </a>
                                    </li>*@

                                </ul>
                                <h5 class="card-title">
                                    <a href="/Blog/Detail/@blog.BlogId">@blog.Title</a>
                                </h5>
                                <p class="card-text mb-3">@blog.Content.Substring(0, @blog.Content.Substring(0, 105).LastIndexOf(" ")) ...</p>
                                <a href="/Blog/Detail/@blog.BlogId" class="btn btn-outline-secondary read-m">Devamını Oku</a>
                            </div>
                        </div>
                    }
                </div>
                <div style="display:flex;justify-content:center;">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
                    new PagedListRenderOptions {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                    })
                </div>
            </div>
        </div>
    </div>
</section>