@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@model IPagedList<Blog>
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <div class="row inner-sec">
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="row mb-4">
                    @foreach (var blog in Model)
                    {
                        <div class="col-md-6 card mb-4">
                            <a href="/Blog/Detail/@blog.BlogId">
                                <img src="@blog.Image" style="height:170px;width:330px;" class="card-img-top img-fluid" alt="">
                            </a>
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <li>
                                        <a>
                                            <i class="far fa-calendar-alt"></i> @blog.Date.ToString("dd/MM/yyyy")
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="far fa-comment"></i> 21
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fas fa-eye"></i> @blog.Category.Name
                                        </a>
                                    </li>
                                </ul>
                                <h5 class="card-title ">
                                    <a href="/Blog/Detail/@blog.BlogId">@blog.Title</a>
                                </h5>
                                <p class="card-text mb-3">@blog.Content.Substring(0, @blog.Content.Substring(0, 105).LastIndexOf(" ")) ...</p>
                                <a href="/Blog/Detail/@blog.BlogId" class="btn btn-outline-secondary read-m">Devamını Oku</a>
                            </div>
                        </div>
                    }
                </div>
                <div style="display:flex;justify-content:center;">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
                    new PagedListRenderOptions {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                    })
                </div>
            </div>
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-left">
                <div class="right-blog-info text-left">
                    @await Component.InvokeAsync("CategoryList")
                    <div class="tech-btm">
                        <h4>En Çok Okunan Bloglar</h4>
                    </div>
                    @await Component.InvokeAsync("BlogListByMostRead")
                    <hr />
                    <div class="tech-btm">
                        <h4>Son Eklenen Bloglar</h4>
                    </div>
                    @await Component.InvokeAsync("BlogLast3Post")
                    @*<div class="tech-btm">
                        <img src="~/templates/blog/images/banner1.jpg" class="card-img-top img-fluid" style="height:170px;width:330px;" alt="">
                    </div>*@
                    <hr />
                    <div class="tech-btm">
                        <h4>Mail Bültenine Abone Ol</h4>
                    </div>
                    @await Html.PartialAsync("~/Views/Newsletter/SubscribeMail.cshtml")
                </div>
            </aside>
        </div>
    </div>
</section>